html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.filler {
    height: 1px;
    width: auto;
}

#wrapper {
    height: 100%;
    width: 100%;
}

.fullpage {
    height: auto;
    min-height: 100%;
    width: auto;
    position: inherit;
}

#landingpage {
    position: relative;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mapwrapper {
    transition: 1.75s margin ease;
    display:inline-block;
}

#NavigationalMap {
    border: 1px solid black;
    height: 500px;
    width: 700px;
    max-width:100%;
    float:left;
}

#controlpanel {
    margin-top: 10px;
    position:absolute;
}

.directionbox {
    margin-right:8px;
    height:24px;
    opacity:.95;
    color : #696869;
    background : #ffffff;
    border-radius:2px;
    border: 1px solid white;

}

#search_start {
    margin-left: 10px;
}

#Generate {
    border: solid 1px #c4c4c4;
    border-radius : 2px;
    cursor: pointer; 
    cursor: hand;
    height:30px;
}

#mode-selector {
    display:inline-block;
    background-color:#4D90FE;
    border-radius : 2px;
    color:white;
    padding:10px;
    padding-bottom:0;
    height:20px;
    border:0;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}


#pano {
    height:500px;
    width:500px;
    border: 1px solid red;
}

@media screen and (max-width: 1000px) {}

.hidden {
    margin-left: -710px;
}

#hide {
    margin-left: 10px;
}